@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&family=Poppins:wght@300;400;500;600;700;800;900&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --color-one: #0a192f;
  --color-two: #64ffda;
  --color-three: #e8edff;
  --color-four: #a0aac6;
  --color-five: #2bfaca;
  --color-six: #30d4b025;
  --white: white;
  --light-navy: #112240;
  --shadow-navy: rgba(2, 12, 27, 0.7);

  --greeting-font: 1.3rem;
  --intro-font: 3.2rem;
  --title-font: 2.2rem;
  --text-font-one: 2rem;
  --text-font-two: 1.5rem;
  --text-font-three: 1.1rem;
  --text-font-four: 0.9rem;
  --text-font-five: 0.7rem;

  --transition: all 0.3s ease-out;

  --duration-control: 0.2s;
  --delay-control: 0.2s;
  --duration: 0.5s;
  --delay: 0.5s;
  --fade-in-from-left-animation: fade-in-from-left var(--duration) ease-out;
  --fade-in-from-right-animation: fade-in-from-right var(--duration) ease-out;
  --fade-in-from-left-for-controls-animation: fade-in-from-left-for-controls
    var(--duration-control) ease-out forwards;
  --scale-in-animation: scale-in var(--duration) ease-out forwards;
  --fade-in-from-top-animation: fade-in-from-top var(--duration) ease-out
    forwards;
  --fade-in-from-bottom-animation: fade-in-from-bottom var(--duration) ease-out
    forwards;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-one);
}
button {
  cursor: pointer;
}
.section {
  padding: 75px calc((3.5 + 2) * 2rem);
}
.section h2 {
  font-size: var(--title-font);
  font-weight: 700;
  color: var(--color-three);
  text-align: center;
  margin-bottom: 2rem;
  opacity: 0;
}
.section h2.visible {
  animation: var(--fade-in-from-bottom-animation);
}
.section h2 span {
  color: var(--color-two);
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  gap: 1.3rem;
  bottom: 50%;
  transform: translateY(50%);
  margin-right: 2rem;
  z-index: 1;
  cursor: pointer;
}
.navigation .control {
  background-color: rgb(78, 78, 78);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 1rem;
  border: none;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  opacity: 0;
}
.navigation .control .tooltip {
  position: absolute;
  right: calc(3.5rem + 0.5rem);
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-two);
  font-size: var(--text-font-four);
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--color-two);
  background-color: var(--color-one);
}
.navigation .control:hover {
  overflow: visible;
}
.navigation .control.active {
  background-color: var(--color-five);
}
.navigation .control.active img {
  filter: invert(54%) sepia(8%) saturate(15%) hue-rotate(340deg) brightness(92%)
    contrast(89%);
}
.navigation .control img {
  width: 100%;
  filter: invert(97%) sepia(0%) saturate(5657%) hue-rotate(155deg)
    brightness(80%) contrast(123%);
}
.navigation .control:first-of-type {
  animation: var(--fade-in-from-left-for-controls-animation);
  animation-delay: var(--delay);
}
.navigation .control:nth-of-type(2) {
  animation: var(--fade-in-from-left-for-controls-animation);
  animation-delay: calc(var(--duration) + var(--delay-control));
}
.navigation .control:nth-of-type(3) {
  animation: var(--fade-in-from-left-for-controls-animation);
  animation-delay: calc(var(--duration) + 2 * var(--delay-control));
}
.navigation .control:nth-of-type(4) {
  animation: var(--fade-in-from-left-for-controls-animation);
  animation-delay: calc(var(--duration) + 3 * var(--delay-control));
}
.navigation .control:nth-of-type(5) {
  animation: var(--fade-in-from-left-for-controls-animation);
  animation-delay: calc(var(--duration) + 4 * var(--delay-control));
}
.home {
  height: 100vh;
  position: relative;
}
.home .intro{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
}
.home .left-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  animation: var(--fade-in-from-left-animation);
}
.home .left-section .greetings {
  font-weight: 700;
  font-size: var(--greeting-font);
  color: var(--color-two);
}
.home .left-section .greetings .name {
  font-size: var(--intro-font);
  color: var(--color-three);
}
.home .left-section .job-title {
  font-weight: 700;
  font-size: var(--intro-font);
  color: var(--color-four);
}
.home .right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: var(--fade-in-from-right-animation);
}
.home .right-section .profile-img {
  width: 350px;
  height: 350px;
  position: relative;
  z-index: 5;
}
.home .right-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}
.home .right-section .profile-img::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  transition: var(--transition);
  left: 0;
  background-color: var(--color-six);
}
.home .right-section .profile-img:hover::before {
  opacity: 0;
}

.about .content {
  opacity: 0;
}
.about .content.visible {
  animation: var(--fade-in-from-bottom-animation);
}
.about p {
  font-size: var(--text-font-three);
  color: var(--color-three);
  margin-bottom: 1rem;
}

.skills .technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.technology {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  background-color: var(--white);
  position: relative;
  border-radius: 5px;
  transition: var(--transition);
  opacity: 0;
}
.technologies.visible .technology {
  animation: var(--fade-in-from-bottom-animation);
}
.technologies.visible .technology:nth-of-type(1) {
  animation-delay: calc(var(--delay));
}
.technologies.visible .technology:nth-of-type(2) {
  animation-delay: calc(var(--delay) + 1 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(3) {
  animation-delay: calc(var(--delay) + 2 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(4) {
  animation-delay: calc(var(--delay) + 3 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(5) {
  animation-delay: calc(var(--delay) + 4 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(6) {
  animation-delay: calc(var(--delay) + 5 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(7) {
  animation-delay: calc(var(--delay) + 6 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(8) {
  animation-delay: calc(var(--delay) + 7 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(9) {
  animation-delay: calc(var(--delay) + 8 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(10) {
  animation-delay: calc(var(--delay) + 9 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(11) {
  animation-delay: calc(var(--delay) + 10 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(12) {
  animation-delay: calc(var(--delay) + 11 * var(--delay-control));
}
.technologies.visible .technology:nth-of-type(13) {
  animation-delay: calc(var(--delay) + 12 * var(--delay-control));
}
.technology img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.technology::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  background-color: var(--color-six);
  z-index: 1;
  transition: var(--transition);
}
.technology:hover {
  bottom: 10px;
}
.technology:hover::before {
  opacity: 0;
}

.project {
  position: relative;
  margin-bottom: 5rem;
  opacity: 0;
}
.project:last-child {
  margin-bottom: 0;
}
.project.visible {
  animation: var(--fade-in-from-bottom-animation);
}
.project .img {
  width: 850px;
  height: 520px;
  border: 0.2px solid var(--color-two);
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.project .img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-six);
  z-index: 1;
  transition: var(--transition);
}
.project .img:hover::after {
  opacity: 0;
}
.project .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project .info {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-width: 650px;
  padding: 1rem;
  background-color: var(--light-navy);
  z-index: 100;
  box-shadow: 0 5px 10px var(--shadow-navy);
  border-radius: 3px;
  font-size: var(--text-font-four);
}
.project .features {
  padding: 0 1rem;
  list-style: disc;
  color: var(--color-three);
}
.project .features li {
  padding: 0.1rem 0;
}
.project .features .highlight {
  color: var(--color-two);
}
.project .info .name {
  font-size: var(--text-font-two);
  color: var(--color-two);
  font-weight: 600;
  margin-bottom: 5px;
}
.links {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
}
.links .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  color: var(--color-three);
  cursor: pointer;
  font-size: var(--text-font-five);
}
.links .link .icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--color-three);
  box-shadow: 0 0 10px var(--color-two);
  transition: var(--transition);
}
.links .link .icon img {
  width: 100%;
}
.links .link .icon:hover {
  box-shadow: 0 0 12px var(--color-two);
}

.projects {
  display: flex;
  flex-direction: column;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
}
.contact-details.visible {
  animation: var(--fade-in-from-bottom-animation);
}
.contact-details .contact-item {
  display: flex;
  justify-content: space-between;
}
.contact-details .contact-item .type {
  color: var(--white);
  font-size: var(--text-font-three);
}
.contact-details .contact-item .type::after {
  content: ":";
  margin: 0 0.5rem;
}
.contact-details .contact-item .value {
  color: var(--color-three);
  font-size: var(--text-font-three);
}
.contact-form-container {
  margin: 3rem 0 0 0;
}
.contact-form-container h3 {
  font-size: var(--text-font-one);
  font-weight: 600;
  color: var(--white);
  padding: 0.5rem 0;
  opacity: 0;
}
.contact-form-container h3.visible {
  animation: var(--fade-in-from-bottom-animation);
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  position: relative;
}
.contact-form.visible {
  animation: var(--fade-in-from-bottom-animation);
}
.contact-form input,
.contact-form textarea {
  font-size: var(--text-font-three);
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--color-three);
  font-family: "Poppins", sans-serif;
}
.contact-form textarea {
  height: calc(10 * var(--text-font-three));
}
.contact-form button {
  align-self: center;
  font-size: var(--text-font-three);
  border-radius: 5px;
  border: 1px solid var(--color-two);
  color: var(--color-two);
  background: none;
  position: relative;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 2.5rem;
  overflow: hidden;
}
.contact-form button .loading {
  width: 100%;
  height: 100%;
}
.contact-form .loading img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.contact-form button:hover {
  scale: 1.1;
  box-shadow: 0 0 10px var(--color-two);
}

.app .header {
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .resume-btn {
  padding: 0.5rem 0.8rem;
  color: var(--color-two);
  border: 3px solid var(--color-two);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--color-two);
  animation: var(--scale-in-animation);
  animation-delay: calc(var(--duration) + 5 * var(--duration-control));
  opacity: 0;
  transition: var(--transition);
}
.app .resume-btn:hover {
  box-shadow: 0 0 10px var(--color-two);
}
.app > .links {
  opacity: 0;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 3rem;
  animation: var(--scale-in-animation);
  animation-delay: calc(var(--duration) + 5 * var(--duration-control));
}
.app > .links::after,
.app > .links::before {
  content: "";
  height: 5rem;
  width: 1px;
  background-color: var(--color-four);
}
.app-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-font-two);
  font-weight: 400;
  color: var(--color-two);
  border: 3px solid var(--color-two);
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  box-shadow: 0 0 10px var(--color-two);
  animation: var(--scale-in-animation);
  animation-delay: calc(var(--duration) + 5 * var(--duration-control));
  opacity: 0;
}
.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  font-size: var(--text-font-three);
  border: 1px solid var(--color-two);
  border-radius: 5px;
  color: var(--color-three);
  max-width: 350px;
  margin: 0 auto;
  position: absolute;
  top: calc((var(--text-font-one) + 1.5rem) * (-1));
  right: 0;
  animation: var(--fade-in-from-left-for-controls-animation);
}
.toast .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.toast .icon img {
  width: 100%;
  height: 100%;
}
@keyframes fade-in-from-left {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
  90% {
    transform: translateX(1rem);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-from-right {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }
  90% {
    transform: translateX(-1rem);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-from-left-for-controls {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (max-width: 950px) {
  :root {
    --title-font: 2rem;
    --text-font-one: 1.5rem;
    --text-font-three: 0.9rem;
    --greeting-font: 1rem;
    --intro-font: 1.8rem;
  }
  .section {
    padding: 1rem;
  }
  .section h2 {
    margin-bottom: 1.5rem;
  }
  .app .header {
    padding: 1rem;
  }
  .app .header .resume-btn {
    font-size: var(--text-font-five);
  }
  .app-logo {
    width: 2.6rem;
    height: 2.6rem;
  }
  .home .intro{
    flex-direction: column-reverse;
    justify-content: start;
    gap: 20px;
  }
  .home .right-section .profile-img {
    width: 250px;
    height: 250px;
  }
  .navigation {
    flex-direction: row;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(0);
    margin: 0;
    padding: 0.5rem;
    background-color: var(--light-navy);
    z-index: 10;
    box-shadow: 0 -4px 5px var(--shadow-navy);
  }
  .navigation .control {
    width: 2.8rem;
    height: 2.8rem;
    padding: 0.8rem;
  }
  .navigation .control .tooltip {
    right: 0;
    top: -0.5rem;
    transform: translateY(-100%);
  }
  .technology {
    width: 4rem;
    height: 4rem;
    padding: 0.2rem;
  }
  .project {
    margin-bottom: 2rem;
  }

  .project:last-of-type {
    margin-bottom: 5rem;
  }
  .project > div {
    flex-basis: auto;
  }
  .project .img {
    height: 230px;
    width: 100%;
  }
  .project .info {
    position: static;
    transform: translateY(0);
    font-size: var(--text-font-four);
  }
  .project .info .features {
    width: 100%;
    background: none;
    box-shadow: none;
    text-align: left;
  }
  .contact-form-container {
    margin-bottom: 3rem;
  }
  .app > .links {
    display: none;
  }
  .toast {
    position: relative;
    top: 0;
    right: 0;
    animation: none;
  }
}
